* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4c4c4c;
  color: #fff;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
}

header button {
  background-color: #fff;
  color: #4c4c4c;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

header button:hover {
  background-color: #4c4c4c;
  color: #fff;
}

main {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form textarea {
  height: 100px;
  resize: none;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background-color: #4c4c4c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #fff;
  color: #4c4c4c;
  border: 2px solid #4c4c4c;
}

main div {
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

main div p:first-child {
  font-size: 22px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

main div p:last-child {
  font-size: 18px;
  font-style: italic;
  color: #666;
  margin-top: 0;
}
.like-button {
  background-color: lightgrey;
  border-radius: 20em;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #888;
}

.like-button:hover {
  color: white;
  background-color: lightcoral;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding: 0;
}

section {
  flex: 1;
  margin-right: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

form {
  flex: 1;
}

textarea {
  width: 100%;
  height: 8rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}


.imggl{

width: 1em;

}